html {
    height: 100%;
    font-family: 'Gudea', sans-serif;
    margin: 0;
    padding: 0;
}

.fullpage {
    height: 100vh;
}


/*---------------------------------------
   COMMON STYLES             
-----------------------------------------*/

.bg-blue {
    background-color: #0a3f89;
}

.btm-lock {
    position: fixed;
    bottom: 0%;
}

.parallax {
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.p-1 {
    padding: 10px;
}

.p-top {
    padding-top: 10px;
}

.wow {
    visibility: hidden;
}

.p-form {
    padding: 50px;
}

.index-1 {
    z-index: 3;
    position: absolute;
    bottom: -25%;
}

.index-2 {
    z-index: 5;
    position: relative;
}


/* Image Sizing */

.img-logo {
    width: 25%;
}

.img-submit {
    width: 26%;
}

.img-sm {
    width: 5%;
}

.img-brand {
    width: 100%;
}

.img-x-long {
    width: 55%;
}

.img-custom-1 {
    width: 190px;
    height: 200px;
}

.img-clock {
    background-image: url(../images/bg/bg-jam.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-form {
    background-image: url(../images/bg/bg-kertas.png);
    /* background-attachment: fixed !important; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-bg {
    background-image: url(../images/bg/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Text Size */

.txt-lg {
    font-size: 22px;
}

.txt-b {
    font-weight: bold;
}


/*bg test */

.bg-1 {
    background-color: red !important;
}

.bg-2 {
    background-color: blue !important;
}

.bg-3 {
    background-color: yellow !important;
}